<div class="cart-container">
    <div class="cart-header">
        <h2>Your Cart</h2>
        <p class="item-count">Products: {{ itemCount }}</p>
    </div>
    <mat-list *ngIf="cartItems.length; else emptyCart">
        <mat-list-item class="cart-height" *ngFor="let item of cartItems">
            <div class="cart-item">
                <!-- Name Section -->
                <p class="item-name">{{ item.name }}</p>

                <!-- Price and Quantity Section -->
                <div class="price-and-controls">
                    <!-- Price -->
                    <div class="item-price">
                        <p>{{ item.price | currency}} </p>
                    </div>

                    <!-- Quantity Controls (Buttons) -->
                    <div class="quantity-controls">
                        <button mat-icon-button (click)="updateQuantity(item, 'decrease')">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <span>{{ item.quantity }}</span>
                        <button mat-icon-button (click)="updateQuantity(item, 'increase')">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                    <!-- Remove Button -->
                    <button mat-icon-button class="remove-button" (click)="removeFromCart(item)">
                        <mat-icon>remove_shopping_cart</mat-icon>
                    </button>
                </div>
            </div>
        </mat-list-item>
    </mat-list>

    <ng-template #emptyCart>
        <p>Your cart is empty</p>
    </ng-template>

    <!-- Cart Total and Checkout Section -->
    <div class="cart-total">
        <h3>Total: {{ totalPrice }}</h3>
        <button mat-raised-button color="primary" (click)="checkout()">Checkout</button>
    </div>
</div>